body {
    background-color: #181a1b;
    color: #e8e6e3;
}
.failed {
    color: red;
}
.success {
    color: lawngreen;
}
.sent {
    color: deepskyblue;
}
.processing {
    color: yellow;
}
img.ree {
    height: 50px;
    object-fit: contain;
}

img.selected {
    height: 100px;
    object-fit: contain;
    border-color: antiquewhite !important;
    border: 4px solid;
    padding: 0.01em 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}

img.inside {
    height: 100px;
    object-fit: contain;
    margin: 16px;
}

img.right {
    float: right;
    object-fit: contain;
}
img.left {
    float: left;
    object-fit: contain;
}
.full {
    text-align: center;
}
div.right {
    float: right;
}
.shown {
    visibility: hidden;
}
.hidden {
    visibility: visible;
}
div.dispatch {
    font-family: monospace;
    text-align: left;
}
li.train {
    border-color: coral !important;
    border: 1px solid;
    padding: 0.01em 16px;
    border-radius: 16px;
}
.occupied {
    color: darkred;
}
.cleared {
    color: green;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #181a1b;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}